head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
  // Font
  link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@800&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Questrial&display=swap', rel='stylesheet')
  // Additional CSS file
  link(rel="stylesheet", href="/css/fontawesome.min.css")
  link(rel="stylesheet", href="/css/all.min.css")
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet", href="/css/page.css")
  link(rel="stylesheet", href="/css/singleItem.css")
  link(rel="stylesheet", href="/css/user.css")
  link(rel="stylesheet", href="/css/responsive.css")

  title Kattie

.container-fluid.free-ship
  .row.pre-header1 FREE SHIPPING ON ORDERS OVER $50
// Navigation
.container.header
    .header-menu
      .check-hamburger
        i.fas.fa-bars
      .logo-div
        a(href="/") 
          img.logo-img(src='/images/logo-kattie.png')
      .menu-bar
        ul.menu-bar-list
          a(href='/new-arrivals')
            li.menu-bar-item NEW ARRIVALS
          a(href='/bags')
            li.menu-bar-item BAGS
          a(href='/tops')
            li.menu-bar-item TOPS
          a(href='/bottoms')
            li.menu-bar-item BOTTOMS
          a(href='/sales')
            li.menu-bar-item SALE
          a(href='/about-us')
            li.menu-bar-item ABOUT US
      .profile-bar
        form(action="/search" method="GET")
          input.mr-3.search-btn.desktop-search-btn(type='search', name='q', placeholder='Search' , value=values ? values.name : "")
        #minicart 
          i.fas.fa-shopping-bag#cart-icon
            span.cartCount 
          #cart.cart
            //- .cart-item(data-uuid= id)
            //-   .cart-item-image
            //-     a(href='/product/' + id)
            //-       img(src= "")
            //-   .cart-item-body
            //-     .cart-item-name
            //-       a(href='/product/' + id)= name
            //-     .cart-item-quantity(data-uuid= id) Quantity: 10
            //-   .cart-item-currency $
            //-   #cartItemPrice.cart-item-price 85

        <i class="fas fa-minus"></i>
        if user
          #user-account.user-account
            #user-avatar.user-avatar
              img(src= user.avatar)
            #user-option.user-option
              //- ul#user-option-wrapper(class="user-option-wrapper")
              //-   a(href="/user/profile")
              //-     li My details
              //-   a(href="/user/cart")
              //-     li My cart
              //-   a(href="/user/order")
              //-     li My order
              //-   a(href="/sign/out" id="sign-out")
              //-     li Log out
        else
          .sign-in.sign-in-button Sign in
block content
.phone-menu-bar-modal
  .phone-menu-bar-container
    form(action="/search" method="GET")
      input.mr-3.search-btn.phone-search-btn(type='search', name='q', placeholder='Search' , value=values ? values.name : "")
    ul.menu-bar-list
      a(href='/new-arrivals')
        li.menu-bar-item 
          span NEW ARRIVALS
          i(class="fas fa-chevron-right")
      a(href='/bags')
        li.menu-bar-item 
          span BAGS
          i(class="fas fa-chevron-right")
      a(href='/tops')
        li.menu-bar-item 
          span TOPS
          i(class="fas fa-chevron-right")
      a(href='/bottoms')
        li.menu-bar-item
          span BOTTOMS
          i(class="fas fa-chevron-right")
      a(href='/sales')
        li.menu-bar-item 
          span SALE
          i(class="fas fa-chevron-right")
      a(href='/about-us')
        li.menu-bar-item 
          span ABOUT US
          i(class="fas fa-chevron-right")
.signin-modal
  .signin-container
    .signin-left
      h1.signin-title Welcome!
      p.signin-desc Enjoy all your benefits.
      form(action="/sign/in" onSubmit="checkAuth1(event)" method="POST" id="sign-in-form")
        div(class= "input-block")
          label.input-label(for='signinEmail') Email
          input#signinEmail(type='', name='signinEmail', placeholder='Email', value=values ? values.name : "", required)
        div(class= "input-block")
          label.input-label(for='signinPassword') Password
          input#signinPassword(type='password', name='signinPassword', placeholder='Password', value=values ? values.name : "", required)
        #error-message
        if errors 
          .input-block.input-block-wrong= errors
        .signin-buttons
          a(href='') Forgot your password?
          button.login-button Login
      p.signup
        | Don&apos;t have an account? 
        a(href='/sign/up') Sign up now
    .signin-right
      img(src='/images/banner-phone.jpg')
      button.icon-button.close-button
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
          path(d='M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z')
//- start common footer
.seperate-line
.container
    .row
        .col-sm-12.col-lg-2
          label.font-7.label-bottom FRAIS
          ul.menu-list-bottom.flex-column
            a(href='/new-arrivals')
              li.menu-item-bottom NEW ARRIVALS
            a(href='/bags')
              li.menu-item-bottom SHOP BAGS
            a(href='/tops')
              li.menu-item-bottom SHOP TOPS
            a(href='/bottoms')
              li.menu-item-bottom SHOP BOTTOM
            a(href='/sales')
              li.menu-item-bottom SHOP SALES
        .col-sm-12.col-lg-3
          label.font-7.label-bottom HELP
          ul.menu-list-bottom.flex-column
            a(href='/about-us')
              li.menu-item-bottom SHIPPING AND RETURN
            a(href='/about-us')
              li.menu-item-bottom PAYMENT METHOD
            a(href='/about-us')
              li.menu-item-bottom ASK QUESTION
        .col-sm-12.col-lg-3
          label.font-7.label-bottom CONTACT
          ul.menu-list-bottom.flex-column
            a(href='tel:+61404888888')
              li.menu-item-bottom 123-456-7890
            a(href='mailto:10hohuyen1114@gmail.com')
              li.menu-item-bottom HOHUYEN1114@GMAIL.COM
            a(href='/about-us')
              li.menu-item-bottom MORE INFO
        .col-sm-12.col-lg-4
          label.font-7.label-bottom NEWS LETTER
          .subscribe
            label(for='email-address', style="color: #424242 ; font-family: 'Questrial', sans-serif;        font-size: 14px;") Enter Email *
            input#email-address(type='text', placeholder='Email:')
            a(href='#')
              button.button-effect SUBSCRIBE

script(src="https://unpkg.com/axios/dist/axios.min.js")
script(src="/js/client1.js")
script(src="/js/auth.client.js")
script(src="/js/refinement.js")
script(src="/js/sign.js")
script(src="/js/user.js")
script(src="/js/slide.js")
script(src="/js/hamburger.js")


