extends ../layouts/common

block content
  .container
    .page-body
      .user-options-wrapper
        .user-options
          ul(class="user-account-option")
            a(href="/user/profile")
              li My details
            a(href="/user/cart")
              li My cart
            a.active(href="/user/order")
              li My order
            a(href="/sign/out" id="sign-out")
              li Log out
      .user-details-wrapper
        .user-my-cart
          h1 My cart
          .shopping-cart
            if user.order.length > 0
              each cartItem in user.cart
                .item(data-id= cartItem.id, data-cartitem-id= cartItem.id)
                  .image
                    a(href= "/product/" + cartItem.id)
                      img(src= cartItem.imageUrl, alt='')
                  .description
                    .des-name
                      a(href= "/product/" + cartItem.id)= cartItem.name
                    .des-color= cartItem.color
                  .quantity
                    button.plus-btn(data-id= cartItem.id, type='button', name='button') +
                    div.quantity-span= cartItem.quantity
                    button.minus-btn(data-id= cartItem.id, type='button', name='button') -
                  .price= "$" + cartItem.price
                  .delete-button
                    i(class="fas fa-times cart-clear-icon refinement-clear-icon")
              .item-price
                .item-price-margin
                .description
                  .des-name Total price:
                  .des-color.des-total= user.cart.length + " items"
                .price-price $1000
            else
              .item-nothing You have not ordered yet

                    
                  
