extends ../layouts/common

block content
	.container
		.flex-page
			.product-gallery
				.item-showroom
					.row
						each first in firstFour
							.col-6.col-lg-6.image-item
								img(src= first)
						each last in lastFour
							.col-3.col-lg-3.image-item
								img(src= last)
					.slider
						.slider-image
							each first in firstFour
								.image-item.phone-image-item
									img(src= first)
							each last in lastFour
								.image-item.phone-image-item
									img(src= last)
						.slider-button
							.slide-btn(id="prev")
								i(class="fas fa-chevron-left")
							.slide-btn(id="next")
								i(class="fas fa-chevron-right")
			.product-detail(data-product-details={"id": product._id, "name": product.name, "price": product.price, "imageUrl": product.imageUrl, "color": product.color})
				h1.pd-title= product.name
				h2.pd-price= "AU$" + product.price + ".00"
				.pd-desc
					.pd-desc-title Product description:
					.pd-desc-body= product.desc
				.pd-colors
					div Color: 
						span= product.color
					.custom-pd-color
						each other in otherProducts
							a( href=`/product/${other._id}`)
								.color-item(class= `color-item-${other.color}`)
				.pd-bag
					.product-bag Add to bag 